<?xml version="1.0"?>
<config>
    <modules>
        <YRS_CheckoutStep>
            <version>0.0.1</version>
        </YRS_CheckoutStep>
    </modules>
    <global>
        <models>
            <checkoutstep>
                <class>YRS_CheckoutStep_Model</class>
            </checkoutstep>
			<checkout>				
				<rewrite>
					<type_onepage>YRS_CheckoutStep_Model_Type_Onepage</type_onepage>
				</rewrite>
			</checkout>
        </models>
		<helpers>
            <checkoutstep>
                <class>YRS_CheckoutStep_Helper</class>
            </checkoutstep>
        </helpers>
		<blocks>
			<checkout>				
				<rewrite>
					<onepage>YRS_CheckoutStep_Block_Onepage</onepage>
				</rewrite>
			</checkout>
			<checkoutstep>
				<class>YRS_CheckoutStep_Block</class>
			</checkoutstep>
			<checkoutsteponepage>
                <class>YRS_CheckoutStep_Block_Onepage</class>
            </checkoutsteponepage>    
		</blocks>
    </global>
	<frontend>
		<layout>
			<updates>
				<checkoutstep>
					<file>checkoutstep.xml</file>
				</checkoutstep>
			</updates>
		</layout>
		<routers>
		 <checkout>
			 <args>
				 <modules>
					 <yrs_checkoutstep before="Mage_Checkout">YRS_CheckoutStep</yrs_checkoutstep>
				 </modules>
			 </args>
		 </checkout>
		</routers>
	</frontend>
</config> 